# Environment variables (Secrets)
.env
*.env
!.env.template

# Python
__pycache__/
*.py[cod]
*$py.class
env/
venv/
.env/
.venv/

# Node / Frontend
node_modules/
dist/
build/
.next/
out/

# Database
# Tracking database as per requirement
# backend/*.db
# backend/*.sqlite3

# OS specific
.DS_Store
Thumbs.db

# Docker
.docker
*.log

# Exports/Backups
/data/
/backups/
/RetailInventoryData/
